<a href="https://colab.research.google.com/github/2020130816KimSemin/class2021Spring/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1; print(type(a))

<class 'int'>

In [ ]:
a = 1; a = float(a); print(type(a))

<class 'float'>

In [ ]:
a = 1.2; a = int(a); print(type(a))

<class 'int'>

**숫자형**

<class 'int'> 는 숫자
<class 'float'> 는 소숫점

In [1]:
a = 1
print (type(a))
a = float(a)
print(a); print(type(a))
a = int(a)
print(a)

<class 'int'>
1.0
<class 'float'>
1

In [ ]:
a = '123'; print(type(a)); print(a[1])

<class 'str'>
2

**문자열 자료형**
"를 사용해도 되지만 되도록 ' 사용하기

In [2]:
a = 'love'
print(type(a)); print(a[0])

<class 'str'>
l

In [ ]:
a = '123'; a = list(a); print(type(a)); print(a); print(a[2])

<class 'list'>
['1', '2', '3']
3

In [ ]:
a = [1,'2', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'list'>
1
2
[3, '4']

**리스트 자료형**

[] 사용, a = [1,'abc',[1,'2']]와 같은 형태도 리스트

In [ ]:
a = (1,'2', [3, '4']); print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'tuple'>
1
2
[3, '4']

**튜플(소괄호)와 리스트(대괄호)의 차이**

리스트에서는,
a = [1, 2, 3]; a[0] = -1 를 입력하면

a = [-1, 2, 3]으로 바뀌지만
튜플은 자료 보호 차원에서 바뀌지 않는다

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple

**딕셔너리 자료형**

딕셔너리에서는 순서말고 index로 해야 함.

In [4]:
a = {'a':'love','b':'korea','c':2021}
print(type(a))
a['c'] = 2020
print(a)

<class 'dict'>
{'a': 'love', 'b': 'korea', 'c': 2020}

In [ ]:
a=[(1,2,3), (3,8,0)]
print(type(a))
a

<class 'list'>

[(1, 2, 3), (3, 8, 0)]